.box-shadows {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2),
    -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3),
    -5px -5px 15px rgba(255, 255, 255, 0.1);
}

.transition:hover {
  border-radius: 10px;
  transform: scale(1.05);
}
